.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.flex-item-left {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  flex: 33%;
}

.flex-item-middle {
  margin: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  flex: 33%;
}
.flex-item-right {
  margin: 10px;
  background-color: dodgerblue;
  padding: 10px;
  flex: 33%;
}
#title{
  background-color: blueviolet;
  width: 0px;
  text-align: center;
  display: inline-block;
}