@import "variabels.css";
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@0;1&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Andada Pro', serif;
  }

  section {
    min-height: 100vh;
    width: 100%;
    display: flex;

  }

  #sec-1 {
    background-image: url("/Images/background1.png");
    background-position: 0px 0px , 0px 0px;
  }
  #sec-2 {
    /* background-color:#a9dbb8; */
    background-color:  #40e0d0;
  }
  #sec-3{
    /* background-color: #c6ebbe; */
    background-color:  #40e0d0;

  }
  #sec-4{
    /* background-color: #a9dbb8; */
    background-color:  #40e0d0;
    text-align: center;
  }

  button:hover{
    background-color:#303944 ;
  
  }
  button:focus{
    outline: none;
  }
  button a{
    text-decoration: none;
    color: white;
  
  }
.container-2{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  margin-top: 80px;
}
.medlemar{
  text-align: center;
  font-size: 35px;
  width: 60%;
  height: 100%;
}

#medlemarImg{
  border-radius: 2.5px;
  height: auto;
  width: 100%;
}


.bliMedlem{
  text-align: center;
  width: 100%;
  margin-top: 80px;
}
.container-3{
  margin-top: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  text-align: center;
  /* background-color: brown; */
}


.text{
  font-size: 20px;
}
#fotnoter{
  font-size:20px;
}

.samarbeten{
  text-align: center;
  width: 100%;
  margin-top: 80px;

}

.flex-container{
  margin-top: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  text-align: center;

}
.flex-container > div{
  flex: 50%;
  background-color: #0abdabb6;
  margin: 20px;
  height: 75vh;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.473);
}
.flex-container h1{
  font-size: 30px;
}
.flex-container p{
  margin: 15px;
}

#kth-logo{
  height: 150px;
  width: 150px;
  margin: 10px;
}
#ki-logo{
  height: 150px;
  width: 150px;
  margin: 10px;

}
#uf-logo{
  height: 150px;
  width: 150px;
  margin: 10px;

}

#title{
  font-size: 45px;

}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
form{
  font-size: 20px;
}
.bliMedlem {
  border-radius: 5px;
  padding-left: 150px;
  padding-right: 150px;

}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .container{
  align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
   margin-top: 200px;

 }
 button{
  background-color:#7ca5b8 ;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  /* margin-left: 100px; */
  margin-top: 20px;
  border: none;
  box-shadow: 2px 2px 5px black;
}
.header{
text-align: center;
margin-top: 40px;
font-size: 25px;
}
input[type=submit]{
  width: 100%;
}
.bliMedlem{
  padding-right: 10px;
  padding-left:10px;
}
}
@media only screen and (min-width: 992px) {
  .container{
    align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
   display: flex;
 }
.header{
 font-size: 40px;
 align-items: center;
 justify-content:center;
 left: 50%;
 margin-top: -50px;
}
button{
  background-color:#7ca5b8 ;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  margin-left: 280px;
  border: none;
  box-shadow: 2px 2px 5px black;

}

} 